*{
    margin: 1rem;
    padding: 0;
    font-family: Impact;
}
.container{
    width: 55rem;
    height: 60rem;
    background-image: linear-gradient(rgb(0, 255, 170),rgb(77, 255, 0));
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
}
.flex-item{
    width: 5rem;
    height: 5rem;
    background-color: blueviolet;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.flex-item:nth-child(even){
    height: 15rem;
}
.flex-item:nth-child(odd){
    height: 9rem;
}