*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width: 35rem;
    height: 35rem;
    background-image: linear-gradient(rgb(255, 230, 0),rgb(0, 181, 253));
    border-radius: 0.5rem;
    margin: 1rem;
    display: flex;
}
.flex-item{
    /* width: 5rem; */
    min-width: 4rem;
    max-width: 10rem;
    flex-basis: auto; 
    /* flex-basis:0 minimum width can have with break items  flex-basis:auto minimum width can have without breaking  */

    height: 5rem;
    background-color: rgb(0, 255, 38);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 5px;
    flex-grow: 1;
}

/* the priority is with 1-max and min  2-flex-basis 3-width*/
/* max and min afects flex shrink and flex grow. */