*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-image: linear-gradient(gray,#444);
    height: 2000px;
}
.container{
    width: 70rem;
    height: 55rem;
    background-color: rgb(0, 255, 153);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}
.flex-item{
    width: 10rem;
    /* flex-basis: 12rem; */
    background-color: rgb(240 236 99);
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:auto;

    /* flex: flex-grow flex-shrink flex-basis;
    flex:auto; --> grow=1 shrink=1 basis=auto */
}
.flex-item:nth-child(odd){
    background-color: rgb(202 85 85);
    align-self: flex-end;
}
