*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width: 35rem;
    height: 35rem;
    background-image: linear-gradient(rgb(255, 230, 0),rgb(0, 181, 253));
    border-radius: 0.5rem;
    margin: 2rem auto;

    display: flex;
}
/* Property:
flex-basis: auto rem px ...
0: Minimum width can have with break items
auto:  Minimum width can have without breaking
/*Acts like width in flex direction row 
and acts like height in flex direction column.*/
/* the priority is with 1-max,min  2-flex-basis 3-width*/
/* max and min afects flex shrink and flex grow. */
.flex-item{
    /* width: 5rem; */ 
    min-width: 4rem;
    max-width: 10rem;
    height: 5rem;
    background-color: rgb(0, 255, 38);
    border-radius: 0.3rem;
    font-size: 2rem;
    margin: 5px;

    display: flex;
    flex-basis: auto; 
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


